<%= form_with(model: @task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.label :status, 'ステータス' %>
  <%= form.text_field :status %>
  <%= form.label :content, 'メッセージ' %>
  <%= form.text_field :content %>
  
  <%= form.submit '投稿' %>
<% end %>